{{layout "org.wso2.uuf.base.main"}}

{{#fillZone "content"}}
    {{css "css/pet-store.css"}}
    <!--div class="col-md-4">
        <h2>Test</h2>
    </div>
    <div class="row moreTop1">
        <div class="col-sm-4 col-sm-offset-4">
            <form id="test-form" method="post">
                <div class="input-group">
                      <span class="input-group-addon">
                        <input type="text" id="input">
                      </span>
                      <span class="input-group-addon">
                        <input type="button" id="post" onclick="post()">
                      </span>
                        <span class="input-group-addon">
                        <output type="text" id="result"/>
                      </span>
                </div>
            </form>
        </div>
    </div-->

    <!--script>
    function myFunction() {
    document.getElementById("displayName").value = document.getElementById("username").value
}

    </script>--

    <!--div class="container">
        <section id="content">
            <form action="">
                <h1>Login Form</h1>
                <div>
                    <input type="text" placeholder="Username" required="" id="username"/>
                </div>
                <div>
                    <input type="button" value="POST" onclick="myFunction()"/>
                </div>
                <div>
                    <input type="text" placeholder="Display  Username" required="" id="displayName"/>
                </div>
            </form><!-- form -->
    <!--/section><!-- content -->
    <!--/div>-->

    <div class="container">
        <section id="content">
            <form action="http://www.w3schools.com/php/welcome.php" method="post">
                Name: <input type="text" name="name"><br>
                E-mail: <input type="text" name="email"><br>
                <input type="submit">
            </form>
        </section><!-- content -->
    </div>


{{/fillZone}}


