{{layout "org.wso2.uuf.base.main"}}
{{#fillZone "content"}}
    <h2>Processes</h2>
    <h4></h4>
    <br class="spacer">
    <div class="page-header">
    </div>
    {{fragment "process-details"}}
{{/fillZone}}