{{layout "org.wso2.uuf.base.main"}}

{{#fillZone "content"}}
    <div class="col-md-8">
        <h2>Pet Info</h2>
        <br />
        <div class="pet-info">
            name : {{name}}
        </div>
    </div>
{{/fillZone}}
